{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Leafy{% endblock %}</title>
        <script src={% static "bundle.js" %}></script>
        <script src="https://kit.fontawesome.com/64b017289f.js" crossorigin="anonymous"></script>
        <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body class='main has-navbar-fixed-top'>
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
        <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/full_logo.png" width="113" height="32">
                </a>
            </div>
            <div class="navbar-menu is-active" id="navbar">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}
                            <a class="button is-success" href="{% url "logout" %}">Log Out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            {%block app%}
            {% endblock %}
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </div>
        </footer>
    </body>
</html>