@charset "utf-8";

$success: rgb(75, 200, 0);
$primary: rgb(0, 100, 0);
$navbar-breakpoint: 0;

@import "bulma";
@import "~bulma-slider";
@import "./forms";
@import "./icons";
@import "./colours";

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    flex: 1;
}